body {
    font-family: Arial, sans-serif;
    /*text-align: center;*/
    /*background-color: #f4f4f4;*/
}

h1, h2 {
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}

/*ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    background: white;
    margin: 5px auto;
    width: 50%;
    border-radius: 5px;
}*/
